// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.banner_menu {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  position: fixed;
  background-color: $secondColor;
  height: 100vh;
  width: 100vw;
  clip-path: circle(100px at -20% 50%);
  transition: 2s;
  z-index: 97;

  .container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 6%;

    .nav-primary {
      display: flex;
      align-items: center;

      .nav {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        height: 15rem;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;

        a {
          text-decoration: none;
          color: black;

          &:visited {
            color: black;
          }
        }

        li {
          padding-right: 3rem;
        }
      }
    }
  }
}

.banner_menu.open {
  clip-path: circle(38% at -10% 50%);
}

.banner_content {
  height: 100%;

  .container {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 100%;

    .banner_title {
      font-size: 4.5rem;
    }

    .banner_arrow {
      width: 5rem;
      transform: rotate(90deg);
    }
  }
}

.banner {
  background-image:
    linear-gradient(
      0deg,
      black 2%,
      rgba(0, 0, 0, 0.392595) 17%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 88%,
      rgba(0, 0, 0, 0.5) 98%
    ),
    url(/app/themes/blogYT/dist/images/dawid.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 0% 30%;
  background-repeat: no-repeat;
}
